name: CI
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - name: Enable Corepack
        run: corepack enable
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9.15.0
      - run: pnpm install --frozen-lockfile
      - run: pnpm build
      - run: pnpm lint
      - run: pnpm test -- --coverage

      - name: 'Upload to Codecov'
        uses: 'codecov/codecov-action@v5'
        with:
          directory: coverage
        env:
          CODECOV_TOKEN: '${{ secrets.CODECOV_TOKEN }}'
